:root {
    font-family: monospace;
    font-weight: 400;
}

html, body {
    height: 100%;
}
body {
    margin: 0;
}

.container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    display: flex;
    flex: 1 auto;
	flex-direction: row;
	justify-content: space-around;
	align-content: center;
    padding: 10%;
    height: 10%
}



.button {
    background-color: #80F4E1;
    color: white;
    display: inline-block;
    font-size: 2em;
    padding: 20px 0px;
    text-align: center;
    width: 200px;
    text-decoration: none;
}

form {
    display: flex; 
    grid-column: 3;
}


input {
    flex-grow: 1;
    padding: 0.5em 0.75em;
}

.button2 {
    padding: 0.5em 0.75em;
    background-color: #55CBF9; 
    color: white;
    font-family: monospace;
    font-weight: 400;
    font-size: 1.35em;

}









